h1{
    color: whitesmoke;
    text-align: center;
}
body{
    background-color: lightslategray;
    color: whitesmoke;
}
.skills{
    color: whitesmoke;
}
.projects{
    color: whitesmoke;
}
.contact{
    color: whitesmoke;
}
.about{
    color: whitesmoke;
}